@import "tailwindcss";

/* Smooth Scroll */

html {
  scroll-behavior: smooth;
}

/* Body */

body {
  background: #ffffff;
  color: #1f2937;
  font-family: var(--font-outfit), sans-serif;
}

/* Selection */

::selection {
  background: #dc2626;
  color: white;
}

/* Images */

img {
  user-select: none;
  -webkit-user-drag: none;
}

/* Buttons */

button {
  cursor: pointer;
}

/* Links */

a {
  transition: all 0.3s ease;
}
